@import 'typography';

.wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

.logo {
  display: flex;
  gap: 0.5em;
  align-items: center;

  &__text {
    font-family: $rokkitt-font;
    font-size: 1.25em;
    font-weight: 300;
  }
}
