@import 'theme';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  overflow: hidden;
  cursor: pointer;
}

.icon {
  width: inherit;
  height: inherit;
}
