@import 'theme';

@mixin set-icon-color($color) {
  fill: $color;
}

:host {
  display: block;
}

* {
  display: block;
}

.base {
  @include set-icon-color($base-color);
}

.on-card {
  @include set-icon-color($on-card-color);
}

.on-base {
  @include set-icon-color($on-base-color);
}
